
.header{
  color:brown;
  font-style: bold;
}

.column {
  width: 30%;
  float: left;
  margin: 5px;
  border: 2px solid #A0522D;
  padding-left: 10px;
  background-color: #FFFACD;
}

@media screen and (min-width: 768px) {
  .column {
      width: 300px;
      float: left;
      padding: 20px;
    }
}


@media screen and (min-width: 360px) {
  .column {
      width: 300px;
      float: left;
      padding: 20px;
    }
}
